/* CSS Reset  */
* {
    margin: 0;
    padding: 0;

}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

/*Navigation Bar: Logo and Image */
#logo {
    height: 84px;
    margin: 4px 31px;

}

#logo img {
    height: 75px;
    margin: 6px 9px;
}

/* Navigation Bar: List Styling  */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li {

    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}

/* Home Section  */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('img/spaghetti.jpg') no-repeat center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 580px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* Services section */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid rgb(18, 247, 10);
    padding: 76px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: snow;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Baloo Bhai 2', cursive;

}

/* Client section  */
#client-section {
    height: 355px;
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(/img/fruits.jpg);
    width: 100%;
    height: 81%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 5px;
}

#clients img {
    height: 155px;
}

/* Contact Section  */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(img/contact1.jpg) no-repeat center center/cover;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: bottom 35px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;

}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;

}

footer {
    background: black;
    color: white;
    padding: 3px 2px;

}

/* Utility Classes  */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;

}

.h-secondary {
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;

}

.btn {
    padding: 6px 20px;
    border: solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}